*{
    margin: 0;
    padding: 0;
}

body{
    
}

.conteiner{
    background-image: url(games_para_ficar_de_olho.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    font-size: 35px;
    font-style: italic;
    color: white;
    font-weight: bold;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    padding: 10px 20px;
    text-decoration: nome;
    font-size: 19px;
    color: white;
    border-radius: 30px;
    transition: 0.6s;
    border: 1px solid black;
}

nav ul li a:hover{
    background-color: rgb(0, 123, 255);
}

section{
    width: 500px;
    margin: 100px;

}

.tituloSessao{
    display: flex;
    width: 550px;
    margin: auto;
    color: white;
}

.tituloSessao{
    width: 900px;
    margin: auto;
    color: white;
    font-size: 35px 
}

.texto
{
    color: black;
    width: 900px;
    margin: auto;
    font-size: 20px
}

.texto a{
    color: black; 
}

img{
   height: 400px;
}

